
name: docker-siod-push-action

on:
  push:
    branches:
      - 'master'
    paths:
      - siod/**/Dockerfile

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push schemers/siod:3
        id: docker_build_siod__3
        uses: docker/build-push-action@v2
        with:
          push: true
          context: siod:3/
          tags: |
            siod:3
            siod:3-bullseye-slim
            siod:latest
